.fabric-card {
  height: 900px;
  /* max-width: 650px; */
  width: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.fabric-card h3 {
  color: white;
  font-weight: 300;
  font-size: 2.5rem;
  letter-spacing: 3px;
}